@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Все статьи</h1>
    <p class="add-article" onmouseover="this.style.color='#ff0000';" onmouseout="this.style.color='#000000';">
        <a href="#">Добавить статью</a>
    </p>
</div>

